fail_fast: false
exclude: libs

repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.21.3
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [push]
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: [-i]
      # Temporarily removed due to bug upstream (https://github.com/llvm/llvm-project/issues/59572)
      # - id: clang-tidy
        # args: ["-p=./build"]
      - id: cppcheck
        args: ["--project=./build/compile_commands.json"]
        pass_filenames: false
      - id: cpplint
        args:
          [
            "--filter=-whitespace,-legal/copyright,-runtime/references,-build/include_order",
          ]
